### Plan
- Load mock dataset (AI generated) with 1000rows and cols as OrderDate	ProductCategory	ProductName	Quantity	UnitPrice	TotalPrice	Region	CustomerType
- Drop duplicate rows
- Define rules for each column (such as: Cannot be empty, Must be number greater than 0, or just be in same category such as regions...etc)
- Perform data cleaning
- Save cleaned dataset
- Visualize

### Loading data

In [106]:
# Importing libraries
import pandas as pd
import numpy as np

In [ ]:
# Loading dataset
df = pd.read_csv('simulated_dataset.csv')

# drop duplicates
df = df.drop_duplicates()

# Displaying first 3 rows of the dataset
df.head(5)

,OrderDate,ProductCategory,ProductName,Quantity,UnitPrice,TotalPrice,Region,CustomerType
0,2024-11-07,Incontinence,Absorbent Pads,7,285.71,2067.256752,Sjælland,Care Home
1,2024-11-11,Wound Care,Antiseptic Spray,5,261.19,1181.151323,Syddanmark,Clinic
2,2024-11-12,Incontinence,NaN,3,10.23,30.841349,Nordjylland,Care Home
3,2024-11-25,Infusion Therapy,IV Tubing Set,6,162.18,1026.772733,Syddanmark,Private
4,2024-11-15,Infusion Therapy,Infusion Pump,7,120.91,838.393289,Midtjylland,Clinic

In [108]:
# display counts for each column
df.count()

OrderDate          1000
ProductCategory    1000
ProductName         980
Quantity           1000
UnitPrice           977
TotalPrice         1000
Region             1000
CustomerType       1000
dtype: int64

#### Column conditions
1. OrderDate -> type date
2. ProductCategory -> 'Diabetes', 'Nutrition', 'Incontinence',
       'Respiratory Care', 'Stoma Care', 'Wound Care'
3. ProductName -> String
4. Quantity -> integer, > 0
5. UnitPrice -> float, > 0
6. TotalPrice -> float, >= 0 (if 0 then order is free - possible)
7. Region -> Nordjylland', 'Sjælland', 'Midtjylland', 'Hovedstaden','Syddanmark
8. CustomerType -> 'Private', 'Clinic', 'Hospital', 'Care Home'

In [109]:
# Data cleaning

# Create a copy of original dataframe
df_to_clean = df.copy()

In [110]:
# 1.) OrderDate

# convert to datetime format, invalid/missing will be as 'NaT'
df_to_clean['OrderDate'] = pd.to_datetime(df_to_clean['OrderDate'], errors='coerce')

# delete all rows that are not valid datetime
df_to_clean = df_to_clean[df_to_clean['OrderDate'].notna()]

In [111]:
# 2.) ProductCategory

# defining categories
valid_ProductCategory = ['Diabetes', 'Nutrition', 'Incontinence',
       'Respiratory Care', 'Stoma Care', 'Wound Care']

# keep only rows, where row product name is valid
df_to_clean = df_to_clean[df_to_clean['ProductCategory'].isin(valid_ProductCategory)]

In [112]:
# 3.) ProductName

# drop rows with missing value
df_to_clean = df_to_clean[df_to_clean['ProductName'].notna()]

In [113]:
# 4.) Quantity

# remove rows, were quantity is not integer
df_to_clean = df_to_clean[df_to_clean['Quantity'].map(type) == int]

# remove rows, where quantity is not greater than 0
df_to_clean = df_to_clean[df_to_clean['Quantity'] > 0]

In [114]:
# 5.) UnitPrice

# remove rows, were price is not float or integer
df_to_clean = df_to_clean[df_to_clean['UnitPrice'].map(type).isin([int, float])]

# remove rows, where price is not greater or equal to 0
df_to_clean = df_to_clean[df_to_clean['UnitPrice'] >= 0]

In [115]:
# 6.) TotalPrice

# remove rows, were price is not float or integer
df_to_clean = df_to_clean[df_to_clean['Quantity'].map(type).isin([int, float])]

# remove rows, where price is not greater or equal to 0
df_to_clean = df_to_clean[df_to_clean['Quantity'] >= 0]

In [116]:
# 7.) Region

# keep only rows, where region is in predefined list
valid_Regions = ['Nordjylland', 'Sjælland', 'Midtjylland', 'Hovedstaden','Syddanmark']

df_to_clean = df_to_clean[df_to_clean['Region'].isin(valid_Regions)]

In [117]:
# 8.) CustomerType

# keep only rows, where CustomerType is in predefined list
valid_CustomerType = ['Private', 'Clinic', 'Hospital', 'Care Home']

df_to_clean = df_to_clean[df_to_clean['CustomerType'].isin(valid_CustomerType)]

In [118]:
### Final Check
# number of all rows should be equal

df_to_clean.count()

OrderDate          792
ProductCategory    792
ProductName        792
Quantity           792
UnitPrice          792
TotalPrice         792
Region             792
CustomerType       792
dtype: int64

In [124]:
# print random row from df_to_clean
print(df_to_clean.sample(5))

     OrderDate ProductCategory             ProductName  Quantity  UnitPrice  \
960 2024-02-08      Stoma Care           Adhesive Ring         2     180.49
890 2024-02-19       Nutrition  Nutritional Supplement         6     247.95
705 2024-10-16       Nutrition  Nutritional Supplement         6     126.79
286 2024-05-08    Incontinence          Absorbent Pads         8     191.15
364 2024-05-23        Diabetes             Test Strips         9      18.60

     TotalPrice       Region CustomerType
960      360.98  Hovedstaden     Hospital
890     1487.70   Syddanmark    Care Home
705      760.74     Sjælland     Hospital
286     1529.20  Midtjylland      Private
364      167.40     Sjælland     Hospital

In [119]:
# Save cleaned dataset
df_to_clean.to_csv('simulated_dataset_cleaned.csv', index=False)